[workspace]
members = [ "core", "frontend", "renderer" ]
resolver = "3"

# [profile.dev]
# opt-level = 2
# strip = false
# debug = true
# debug-assertions = true
# overflow-checks = true
# lto = false
# incremental = true
# codegen-units = 256
# rpath = false
#
# [profile.release]
# opt-level = 3
# strip = true
# debug = false
# debug-assertions = false
# overflow-checks = false
# lto = "fat"
# incremental = false
# codegen-units = 1
# rpath = false
# panic = "abort"
#
# [profile.benchmarking]
# inherits = "release"
# debug = true
# strip = false

[profile.release]
debug = true
