[workspace]
members = [ "core", "frontend", "renderer" ]
resolver = "3"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.benchmarking]
inherits = "release"
debug = true
